*{padding: 0; margin: 0;}
ul, ol{list-style: none;}
a{text-decoration: none; color: #333;}
img{border: none; display: block;}
/* reset end */

header{
    width: 100%;
    overflow: hidden;
}

#nav_top, #nav_under{
    padding: 0 200px;
}
/* common end */

#nav_top{
    background-color: #d3d1d1;
    height: 40px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b6b6b6;
    box-shadow: 0 2px 3px #d8d8d8;
}

#nav_top>ul a{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #979797;
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
}

#nav_top div{
    float: right;
}

#nav_top div a{
    margin: 0 10px;
}
/* nav_top end */

#nav_under{
    padding-top: 5px;
    padding-bottom: 10px;
}

#nav_under>img{
    float: left;
}

#nav_under ul li{
    float: left;
}

#nav_under .logo{
    margin: 0 auto;
}

#nav_under .search{
    float: right;
}

#nav_under .in_se{
    float: left;
}